* {box-sizing: border-box}

body { background: #E0FFFF }

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #FFC0CB;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #FF69B4;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #E0FFFF;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
    font-family: fantasy;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

h1 { font-family: fantasy; text-align: center; }
b { font-family: fantasy; }
p { font-family: fantasy; text-align: center; }

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #E0FFFF;
  text-align: center;
}